<div class="container-fluid" style="margin-top:3px;margin-bottom:10px">
  <header class="jumbotron subhead" id="overview">
    <div class="row-fluid">
      <div class="span8">
        <h1>Welcome to StravaAnalytics</h1>
      </div>
    </div>
  </header>
  <p class="lead">Love STRAVA but are having trouble figuring out whether you are currently doing the right type of training? Then you've come to the right place. Connect with STRAVA to start the search for segments.</p>
  <div class="row-fluid">
    <div class="span9">
      <div class="well" id="connectWithApi">
        <a style="margin-left: auto;margin-right:auto" href="/#/activities"><img src="http://strava.github.io/api/images/ConnectWithStrava.png"/></a>
      </div>
    </div>
  </div>
</div>
